extends layout

//- Stylesheets
block stylesheets

  link(rel='stylesheet', href='/stylesheets/documentation.css')

//- Scripts
block scripts


//- Content
block content

  #readMeContain.markdown-body
    #readMe!= a







