extends layout

//- Stylesheets
block stylesheets

  link(rel='stylesheet', href='/stylesheets/index.css')

//- Scripts
block scripts

  script(src="javascripts/gauge.min.js" defer)
  script(src="javascripts/axios.min.js" defer)
  script(src="javascripts/index.min.js" defer)


//- Content
block content

  #currencyMenu
    .currency.btc
      img(src="images/btc.svg")
    .currency.eth
      img(src="images/eth.svg")
    .currency.xrp
      img(src="images/xrp.svg")
    .currency.ltc
      img(src="images/ltc.svg")
    .currency.bch
      img(src="images/bch.svg")
    .currency.eos
      img(src="images/eos.svg")

  #dataContainer
    #currency
      img(src="images/mark.svg")
    #data
      #textData
        #rawSentiment
          .label Sentiment Score
          p 
        #indicator
        #sentimentCategory
          .label Direction
          p 
      #sentimentGraph

  #infoContainer
      








