extends layout

//- Stylesheets
block stylesheets

  link(rel='stylesheet', href='/stylesheets/index.css')

//- Scripts
block scripts

  script(src="/javascripts/axios.min.js" defer)
  script(src="/javascripts/moment.min.js" defer)
  script(src="/javascripts/login.js" defer)


//- Content
block content










