
//- Metadata
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1')

//- Stylesheets
block stylesheets
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/fonts.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/widget.css')

//- Scripts
block scripts
    script(src="/javascripts/jquery.min.js" defer)
    script(src="/javascripts/sentiment.js" defer)
    script(src="/javascripts/axios.min.js" defer)
    script(src="/javascripts/moment.min.js" defer)
    script(src="/javascripts/widget.js" defer)


//- Content
block content

    #cardsContainer
    
        #card
            img(src=`/images/${currency}.svg`, data-curr=currency)
            p.sentiment
            p.category 
            p.updated 