#readMeContain {
    width: 80%;
    background-color: #FFF;
    margin: auto;
    margin-top: 50px;
    border-radius: 5px;
    padding: 30px;
}

code {
    color: rgb(209, 5, 100);
}

.language-javascript {
    color: rgb(209, 5, 100);
}
